<div class="outer">
<div class="col">
    <p>Selected area: {{ selectedArea }}</p>
    <p>Select the area you want to fight in!</p>
    <p class=""></p>
        <select class="selecter" #area (change)="onSelected(area.value)">
            <option>Grassy Plains</option>
            <option>Snowfield</option>
            <option>Dusty Dunes</option>
            <option>Dripstone Caves</option>
            <option>Dark Forest</option>
        </select>
    <app-poke-list [inputIDs]="pokemon[areaIndex]"></app-poke-list>
</div>    
</div>
