<div class="poke-container {{chooseable}}">
    <div class="card" *ngFor="let poke of pokeArr; let j = index" style="margin: 5" id="pokemon {{j}}" (click)="selectPokemon(j)">
        <img class="poke-image"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{poke.id}}.png"
            alt="pokemon">
        <p class="poke-name">{{poke.name}}</p>
        <div class="subStats">
            <p>ID: {{poke.id}}</p>
            <p>{{pokemonArea(poke)}}</p>
        </div>
        <span *ngFor="let i of [].constructor(3); let k = index" style="margin: 5">
            <p class="stats">{{poke.stats[k].stat.name + ": " + poke.stats[k].base_stat}}</p>
        </span>
    </div>
</div>

<style>
        p {
        color: #000;
    }
    .poke-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(25, 118, 210);
    }
    .card {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }

    .stats {
        font-size: 20px;
        margin: 5px;
        padding: 0;
        padding-left: 10px;
        text-align: left;
    }
    .subStats {
        font-size: 15px;
        margin: 0px;
        margin-bottom: 5px;
        padding: 0;
        color: #3d3d3d;
        text-align: center;
    }
    .subStats > p {
        margin: 0;
        padding: 0;
    }
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        border-radius: 7px;
        position: relative;
    }

    .true > div:hover {
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
        cursor: pointer;
    }

    .poke-name {
        text-align: center;
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .poke-image {
        width: 200px;
        height: 200px;
    }
</style>