<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="..\assets\images\pk2.svg" />
  <span>Pokedex</span>

  <span class="userNameView"> HEY {{userName}} </span>
</div>

<div class="content" role="main">

  <div class="card-container">
    <a class="card" target="" rel="noopener" href="/search">
      <img width="40" alt="Angular Logo" src="..\assets\images\image2vector.svg" />
      <span>Search for Pokemon</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg> </a>

    <a class="card" target="" rel="noopener" href="/inventory">
      <img width="40" alt="Angular Logo" src="..\assets\images\gBall.svg" />
      <span style='padding-left: 8px;'>Caught Pokemon</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
    <a class="card" target="" rel="noopener" id="pogLink" href="/fight">
      <img width="40" alt="Angular Logo" src="..\assets\images\battl.svg" />
      <span style='padding-left: 2px;'>Fight Other Pokemon</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
      </svg>
    </a>
  </div>

</div>

<router-outlet></router-outlet>