<p> search works! </p>


 <button (click)="clickFunction()"> Click Me </button>


 <div class="flex-container">
    <div class="card" *ngFor="let pokemon of pokeArr" style="margin: 5">
        <img class="poke-image"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon.id}}.png"
            alt="pokemon">
        <p class="poke-name">{{pokemon.name}}</p>
        <span *ngFor="let i of [].constructor(3); let k = index" style="margin: 5">
            <p class="stats">{{pokemon.stats[k].stat.name + ": " + pokemon.stats[k].base_stat}}</p>
        </span>
    </div>
</div>
